<ul class="nav nav-pills flex-column pt-5">
    {% for decade in decades %}
            <li class="nav-item"><a href="" class="nav-link">Movies from the {{ decade }}'s</a></li>
    {% else %}
        <li class="nav-item">No movie yet...</li>
    {% endfor %}
</ul>
